@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('damion_rg', normal, 400, '../fonts/damion/damion-regular-webfont.woff2');

@include font('tm_wbel', normal, 200, '../fonts/titillium/titilliumweb-extralight-webfont.woff2');
@include font('tm_wbl', normal, 300, '../fonts/titillium/titilliumweb-light-webfont.woff2');
@include font('tm_wbr', normal, 400, '../fonts/titillium/titilliumweb-regular-webfont.woff2');
@include font('tm_wbsb', normal, 600, '../fonts/titillium/titilliumweb-semibold-webfont.woff2');
@include font('tm_wbb', normal, 700, '../fonts/titillium/titilliumweb-bold-webfont.woff2');
@include font('tm_wbk', normal, 900, '../fonts/titillium/titilliumweb-black-webfont.woff2');

@include font('tm_wbel_i', italic, 200, '../fonts/titillium/titilliumweb-extralightitalic-webfont.woff2');
@include font('tm_wbl_i', italic, 300, '../fonts/titillium/titilliumweb-lightitalic-webfont.woff2');
@include font('tm_wb_i', italic, 400, '../fonts/titillium/titilliumweb-italic-webfont.woff2');
@include font('tm_wbsb_i', italic, 600, '../fonts/titillium/titilliumweb-semibolditalic-webfont.woff2');
@include font('tm_wbb_i', italic, 700, '../fonts/titillium/titilliumweb-bolditalic-webfont.woff2');