@import "config";

*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

h1 {
	font-family: "tm_wbd";
	font-size: 42px;
	line-height: 48px;
	color: #fff;
	text-align: center;
	max-width: 990px;
	margin: 0 auto 54px;

	@media screen and (max-width: 1140px) {
		font-size: 36px;
		line-height: 46px;
		max-width: 900px;
	}

	@media screen and (max-width: 990px) {
		font-size: 29px;
		line-height: 40px;
		max-width: 80%;
	}

	@media screen and (max-width: 767px) {
	    font-size: 26px;
	  	line-height: 32px;
	    margin-bottom: 50px;
	    max-width: 100%;
	}
}

h2 {
	font-family: "tm_wbd";
	font-size: 40px;
	line-height: 30px;
	letter-spacing: 3px;
	text-align: center;

	&.white {
		color: #fff;
	}

	&.dark {
		color: #393939;
	}

	&.dark-blue {
		color: #3c4761;
	}

	&:after {
		content: "";
		display: block;
		width: 90px;
		height: 4px;
		margin: 20px auto;
	}

	@media screen and (max-width: 1140px) {
		font-size: 34px;
		line-height: 44px;
	}

	@media screen and (max-width: 990px) {
		font-size: 27px;
		line-height: 38px;
	}

	@media screen and (max-width: 767px) {
	    font-size: 24px;
	  	line-height: 32px;
	}
}

.services  h2:after {background: #14a58c;}
.team      h2:after {background: #c8d9e5;}
.skills    h2:after {background: #dfe8ed;}
.portfolio h2:after {background: #e5c37f;}
.about-us  h2:after {background: #b73c6d;}
.contact   h2:after {background: #273a71;}


.section__desc {
	font-family: "tm_wbr";
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto 75px;
	letter-spacing: .5px;
	width: 580px;

	&.white {
		color: #ffffff;
	}

	&.dark {
		color: #3c4761;
	}

	@media screen and (max-width: 767px) {
		width: 80%;
	    font-size: 16px;
	}

	@media screen and (max-width: 575px) {
		width: 90%;
	}
}


.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}


section {
	padding: 115px 0;

	@media screen and (max-width: 1140px) {
		padding: 100px 0 ;
	}

	@media screen and (max-width: 767px) {
		padding: 50px 0;
	}
}


@keyframes topLineSlideUp {
	0%{top: -100px;}
	100%{top: 0;}
}

@keyframes topLineSlideDown {
	0%{top: 0px;}
	50%{top: -100px;}
	100%{
		position: relative;
		top: 0px;
	}
}

.header {
	padding-top: 45px;
	padding-bottom: 150px;
	background: #87509c;
	transition: .5s;

	@media screen and (max-width: 1140px) {
		padding-top: 20px;
		padding-bottom: 125px;
	}

	@media screen and (max-width: 767px) {
		padding-bottom: 75px;
		padding-top: 0px;
	    background: #87509c;
	}

	@media screen and (max-width: 375px) {
		padding-bottom: 50px;
	}

}

.header__top-line {
	position: relative;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;

	transition: .5s;

	.container {
		height: 60px;
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__top-line:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #87509c;
}		

.header__menu {

	&.active {
		top: 0;
	}

	&-list {
		display: flex;
		position: relative;
		z-index: 1;

		a {
			display: inline-block;
			padding: 7px 16px;
			border-radius: 4px;
			margin-left: 14px;

			font-family: "tm_wbr";
			font-size: 16px;
			line-height: 18px;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			transition: .3s;

			&.active {
				background: #643a79;
				&:hover {
					background: #643a79;
					cursor: default;
				}
			}

			&:hover {
				background: #793a93;
			}
		}
	}
}


.header__logo {
	padding-left: 48px;
	z-index: 1;
	transition: .3s;

	@media screen and (max-width: 1140px) {
		padding-left: 10px;
	}
}

.header__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 290px;
	height: 68px;
	border-radius: 5px;
	border-bottom: 4px solid #c86a40;
	margin: 0 auto;
	padding: 25px 80px;
	background: #eb7d4b;

	font-family: "tm_wbsb";
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.header__top-line.animation_backward {
	position: fixed;
	animation: topLineSlideDown .5s linear forwards;
}

.header.animation_active {
	.header__top-line {
		position: fixed;
		animation: topLineSlideUp .5s linear forwards;
	}
}

.header__top-line-wrap {
	height: 60px;
	margin-bottom: 125px;

	@media screen and (max-width: 1140px) {
		margin-bottom: 115px;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 50px;
	}
}

/* --------- header__burger --------- */

.header__burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 1;
	cursor: pointer;
}

.header__burger span {
	width: 100%;
	height: 2px;
	position: absolute;
	top: 9px;
	left: 0;
	background-color: #fff;
	
}

.header__burger:before,
.header__burger:after {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;

	background-color: #fff;
	transition: .3s;
	content: '';
}

.header__burger:before { top: 0; }
.header__burger:after { bottom: 0; }

.header__burger.active:before {
	transform: rotate(45deg);
	top: 9px;
}

.header__burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.header__burger.active span {
	display: none;
}


@media screen and (max-width: 767px) {

	.header__button {
		width: 280px;
		padding: 25px 75px;
	}

	.header__logo {
		padding-left: 0;

		img {
			width: 80%;
		}
	}

	.header__burger {
		display: block;
	}

	.header__menu {
		position: fixed;
		top: -110vh;
		left: 0;
		width: 100%;
		height: 110vh;
		
		overflow: auto;
		padding: 80px 10px 80px 5px;
		background-color: #222;
		transition: .3s;
	}

	.header__menu-list {
		flex-direction: column;
	}

	.header__menu-list a {
		margin-bottom: 4px;
		display: inline-block;
		width: 90%;
		padding: 10px;
	}

	.header__menu-list a:hover {
		background: #2c2c2c;
	}

}


/* --------- services --------- */

.services {
	background: #17c2a4;

	@media screen and (max-width: 1140px) {
		padding-bottom: 25px;
	}

	@media screen and (max-width: 767px) {
		padding-bottom: 0px;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1140px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		width: 25%;
		padding: 0 25px;
		text-align: center;

		@media screen and (max-width: 1140px) {
			width: 50%;
			margin-bottom: 75px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-bottom: 100px;
		}
	}

	&__image {
		height: 134px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 62px;
	}

	&__heading {
		font-family: "tm_wbd";
		font-size: 24px;
		line-height: 18px;
		color: #fff;
		margin-bottom: 25px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__desc {
		font-family: "tm_wbl";
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		width: 90%;
		margin: 0 auto;

		@media screen and (max-width: 1140px) {
			width: 80%;
		}

		@media screen and (max-width: 767px) {
			width: 60%;
		}

		@media screen and (max-width: 575px) {
			width: 80%;
		}

		@media screen and (max-width: 375px) {
			width: 100%;
		}
	}
}


/* --------- team --------- */

.team {
	background: #e7f1f8;
}


/* --------- skills --------- */

.skills {
	background: #ffffff;
}

/* --------- portfolio --------- */

.portfolio {
	background: #ffdd99;
}

/* --------- about-us --------- */

.about-us {
	background: #d74680;
}

/* --------- contact --------- */

.contact {
	background: #3c5499;
}

/* --------- footer --------- */

.footer {
	background: #344b8e;
}