@import "config";

@import "circle_fill";

*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

textarea {
	font-family: 'tm_wbr';
}

h1 {
	font-family: "tm_wbb";
	font-size: 42px;
	line-height: 48px;
	color: #fff;
	text-align: center;
	max-width: 990px;
	margin: 0 auto 54px;


	@media screen and (max-width: 1440px) {
		font-size: calc(26px + (42 - 26) * (100vw - 320px) / (1440 - 320));
		line-height: calc(32px + (46 - 32) * (100vw - 320px) / (1440 - 320)); 
	}

	@media screen and (max-width: 1140px) {
		max-width: 900px;
	}

	@media screen and (max-width: 990px) {
		max-width: 80%;
	}

	@media screen and (max-width: 767px) {
	    margin-bottom: 50px;
	    max-width: 100%;
	}
}

h2 {
	font-family: "tm_wbb";
	font-size: 42px;
	line-height: 30px;
	letter-spacing: 3px;
	text-align: center;

	&.white {
		color: #fff;
	}

	&.dark {
		color: #393939;
	}

	&.dark-blue {
		color: #3c4761;
	}

	&:after {
		content: "";
		display: block;
		width: 90px;
		height: 4px;
		margin: 20px auto 20px;
	}

	@media screen and (max-width: 1440px) {
		font-size: calc(24px + (42 - 24) * (100vw - 320px) / (1440 - 320));
		line-height: calc(32px + (44 - 32) * (100vw - 320px) / (1440 - 320));
	}
}

.services  h2:after {background: #14a58c;}
.team      h2:after {background: #c8d9e5;}
.skills    h2:after {background: #dfe8ed;}
.portfolio h2:after {background: #e5c37f;}
.about-us  h2:after {background: #b73c6d;}
.contact   h2:after {background: #273a71;}


.section-desc {
	font-family: "tm_wbr";
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto 75px;
	letter-spacing: .5px;

	@media screen and (max-width: 376px) {
		margin: 0 auto 50px;
	}

	&.white {
		color: #ffffff;
	}

	&.dark {
		color: #3c4761;
	}

	@media screen and (max-width: 767px) {
		width: 80%;
	    font-size: 16px;
	}

	@media screen and (max-width: 575px) {
		width: 90%;
	}
}


.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;
}


section {
	padding: 115px 0;

	@media screen and (max-width: 1140px) {
		padding: 100px 0 ;
	}

	@media screen and (max-width: 767px) {
		padding: 50px 0;
	}
}


@keyframes topLineSlideUp {
	0%{top: -100px;}
	100%{top: 0;}
}

@keyframes topLineSlideDown {
	0%{top: 0px;}
	50%{top: -100px;}
	100%{
		position: relative;
		top: 0px;
	}
}


.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 290px;
	height: 68px;
	border-radius: 5px;
	margin: 0 auto;
	font-family: "tm_wbsb";
	font-size: 18px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;

	@media screen and (max-width: 767px) {
		width: 280px;
	}
}

/* --------- header --------- */

.header {
	padding-top: 45px;
	padding-bottom: 150px;
	background: #87509c;
	transition: .5s;

	@media screen and (max-width: 1140px) {
		padding-top: 20px;
		padding-bottom: 125px;
	}

	@media screen and (max-width: 767px) {
		padding-bottom: 75px;
		padding-top: 0px;
	    background: #87509c;
	}

	@media screen and (max-width: 375px) {
		padding-bottom: 50px;
	}

	&__top-line {
		position: relative;
		height: 60px;
		width: 100%;
		top: 0;
		left: 0;

		transition: .5s;

		.container {
			height: 60px;
			padding: 10px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: #87509c;
		}	

		&-wrap {
			height: 60px;
			margin-bottom: 125px;

			@media screen and (max-width: 1140px) {
				margin-bottom: 115px;
			}

			@media screen and (max-width: 767px) {
				margin-bottom: 50px;
			}
		}

	} // top-line

	&__menu {

		@media screen and (max-width: 767px) {
			position: fixed;
			top: -110vh;
			left: 0;
			width: 100%;
			height: 110vh;
			overflow: auto;
			padding: 80px 10px 80px 5px;
			background-color: #222;
			transition: .3s;
		}

		&.active {
			top: 0;
		}

		&-list {
			display: flex;
			position: relative;
			z-index: 1;

			@media screen and (max-width: 767px) {
				flex-direction: column;
			}

			a {
				display: inline-block;
				padding: 7px 16px;
				border-radius: 4px;
				margin-left: 14px;
				font-family: "tm_wbr";
				font-size: 16px;
				line-height: 18px;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				transition: .3s;

				@media screen and (max-width: 767px) {
					margin-bottom: 4px;
					display: inline-block;
					width: 90%;
					padding: 10px;
				}

				&.active {
					background: #643a79;
					&:hover {
						background: #643a79;
						cursor: default;
					}
				}

				&:hover {
					background: #793a93;

					@media screen and (max-width: 767px) {
						background: #2c2c2c;
					}
				}
			}
		}
	} // menu 

	&__logo {
		padding-left: 48px;
		z-index: 1;
		transition: .3s;

		@media screen and (max-width: 1140px) {
			padding-left: 10px;
		}

		@media screen and (max-width: 767px) {
			padding-left: 0;
		}

		img {
			@media screen and (max-width: 767px) {
				width: 80%;
			}
		}
	} // logo

	&__button {
		border-bottom: 4px solid #c86a40;
		background: #eb7d4b;
	}

	&__top-line.animation_backward {
		position: fixed;
		animation: topLineSlideDown .5s linear forwards;
	}

	&.animation_active {
		.header__top-line {
			position: fixed;
			z-index: 10;
			animation: topLineSlideUp .5s linear forwards;
		}
	}

} // header


/* --------- burger --------- */

.burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 1;
	cursor: pointer;

	@media screen and (max-width: 767px) {
		display: block;
	}

	span {
		width: 100%;
		height: 2px;
		position: absolute;
		top: 9px;
		left: 0;
		background-color: #fff;
	}

	&:before,
	&:after {
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background-color: #fff;
		transition: .3s;
		content: '';
	}

	&:before { top: 0; }
	&:after { bottom: 0; }

	&.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	&.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	&.active span {
		display: none;
	}

} // burger


/* --------- services --------- */

.services {
	background: #17c2a4;

	.section-desc {
		max-width: 610px;
		margin-bottom: 75px;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1140px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		width: 25%;
		padding: 0 25px;
		text-align: center;

		@media screen and (max-width: 1140px) {
			width: 50%;
			margin-bottom: 75px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}

	&__image {
		height: 134px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 58px;

		@media screen and (max-width: 767px) {
			margin-bottom: 45px;
		}
	}

	&__heading {
		font-family: "tm_wbb";
		font-size: 24px;
		line-height: 18px;
		color: #fff;
		margin-bottom: 20px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&__desc {
		font-family: "tm_wbl";
		font-size: 16px;
		line-height: 24px;
		color: #fff;
		width: 90%;
		margin: 0 auto;

		@media screen and (max-width: 1140px) {
			width: 80%;
		}

		@media screen and (max-width: 767px) {
			width: 60%;
		}

		@media screen and (max-width: 575px) {
			width: 80%;
		}

		@media screen and (max-width: 375px) {
			width: 100%;
		}
	}
}


/* --------- team --------- */

.team {
	background: #e7f1f8;

	.section-desc {
		margin-bottom: 80px;

		@media screen and (min-width: 700px) {
			width: 100%;
		}
	}	


	&__list {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1140px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		width: 25%;
		margin-left: 20px;
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 1140px) {
			width: 50%;
			margin-left: 0;
			margin-bottom: 75px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}

	&__image {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		overflow: hidden;
		background: #878787;
		margin: 0 auto 40px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__name {
		font-family: "tm_wbb";
		font-size: 24px;
		line-height: 18px;
		text-transform: uppercase;
		color: #27283d;
		margin-bottom: 12px;
		display: flex;
		justify-content: center;
	}

	&__post {
		font-family: "tm_wbr";
		font-size: 16px;
		line-height: 18px;
		color: #30bae7;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}

	&__desc {
		font-family: "tm_wbl";
		font-size: 16px;
		line-height: 24px;
		color: #3c4761;
		width: 75%;
		margin: 0 auto 30px;
		text-align: center;
		flex-grow: 1;
	}

	&__social-list {
		display: flex;
		justify-content: center;
	}

	&__social-item {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin: 0 5px;

		&.fb {background-image: url('../images/dest/social/fb.png');}
		&.twitter {background-image: url('../images/dest/social/twitter.png');}
		&.linked {background-image: url('../images/dest/social/linked.png');}
		&.mail {background-image: url('../images/dest/social/mail.png');}

		background-position: center;
		background-repeat: no-repeat;

		background-color: #bdd1df;

	}

}


/* --------- skills --------- */

.skills {
	background: #ffffff;

	.section-desc {
		max-width: 580px;
		margin-bottom: 80px;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 990px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		width: 25%;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&:first-child {
			margin-left: 0;
		}

		@media screen and (max-width: 990px) {
			width: 50%;
			margin-left: 0px;
			margin-bottom: 75px;
		}

		@media screen and (max-width: 500px) {
			width: 100%;
		}
	}

	&__image {
		width: 160px;
		height: 160px;
		border-radius: 50%;
		border: 12px solid #ccc;
		margin-bottom: 30px;
		
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: "tm_wbl";
		font-size: 50px;
		line-height: 20px;
		color: #3c4761;

		span {
			font-size: 32px;
		}

		&.blue {
			border: 12px solid #30bae7;}

		&.pink {
			border: 12px solid #d74680;}

		&.green {
			border: 12px solid #15c7a8;}

		&.yellow {
			border: 12px solid #eb7d4b;}
	}

	&__heading {
		font-family: "tm_wbb";
		font-size: 24px;
		line-height: 18px;
		color: #3c4761;
		text-transform: uppercase;

	}
}

/* --------- portfolio --------- */

.portfolio {
	background: #ffdd99;

	.section-desc {
		max-width: 530px;
		margin-bottom: 40px;
	}

	&__tabs {
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}

	&__tab {
		width: 86px;
		height: 36px;
		margin: 0 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		background: rgba(0,0,0,.08);
		font-size: 18px;
		line-height: 20px;
		font-family: "tm_wbel";
		font-weight: 600;
		text-decoration: none;
		color: #393939;
		text-transform: uppercase;

		&.active {
			background: #fff;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	&__item {
		width: 541px;
		margin-bottom: 60px;

		@media screen and (max-width: 1140px) {
			width: 100%;
		}
	}

	&__image {
		width: 100%;
		height: 311px;
		padding-top: 16px;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		background: url('../images/dest/portfolio/notebook.png') no-repeat;

		@media screen and (max-width: 1140px) {
			background-position-x: center;
		}

		@media screen and (max-width: 600px) {
			background-size: contain;
			margin-bottom: 4%;
		}
	
		img {
			width: 410px;
			height: 256px;

			@media screen and (max-width: 600px) {
				width: 76%;
				height: 82%;
			}
		}
	}

	&__heading {
		font-size: 18px;
		line-height: 18px;
		font-family: 'tm_wbel';
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		color: #393939;

		@media screen and (max-width: 400px) {
			font-size: 16px;
		}
	}

	&__button {
		border-bottom: 4px solid #14a58c;
		background: #17c2a4;
	}
}

/* --------- about-us --------- */

.about-us {
	background: #d74680;

	.section-desc {
		margin-bottom: 64px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media screen and (max-width: 990px) {
			flex: 0 0 85%;
			justify-content: center;
		}

		
	}

	&__item {
		display: flex;
		flex: 0 0 46%;
		margin-bottom: 150px;

		@media screen and (max-width: 990px) {
			flex: 0 0 90%;
			margin-bottom: 120px;
			&:nth-child(4) {
				margin-bottom: 75px;
			}
		}

		@media screen and (max-width: 767px) {
			flex: 0 0 95%;
			margin-bottom: 100px;

		}

		@media screen and (max-width: 475px) {
			display: block;
			margin-bottom: 80px;
			
		}

		@media screen and (min-width: 990px) {
			&:nth-child(3),
			&:nth-child(4) {
				margin-bottom: 0;
			}
		}
	}

	&__image {
		width: 150px;
		height: 150px;
		flex: 0 0 150px;
		border-radius: 100%;
		background: #787878;

		@media screen and (max-width: 475px) {
   			margin: 0 auto 50px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100%;
		}
	}

	&__text {
		padding-left: 40px;
		

		@media screen and (max-width: 475px) {
			text-align: center;
			width: 93%;
			margin: 0 auto;
			padding-left: 0px;
		}
	}

	&__observation {
		font-family: 'tm_wb_i';
		font-size: 21px;
		line-height: 31px;
		color: #fff;
		margin-bottom: 20px;
		letter-spacing: 1px;
		

		@media screen and (min-width: 991px) {
   			min-height: 130px;
		}

		@media screen and (max-width: 475px) {
   			margin-bottom: 30px;
		}

		@media screen and (max-width: 375px) {
   			font-size: 19px;
		}
	}

	&__name {
		font-family: 'tm_wbb';
		font-size: 24px;
		line-height: 26px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 2px;

		@media screen and (max-width: 475px) {
			margin-bottom: 8px;
		}
	}

	&__position {
		font-family: 'tm_wbr';
		font-size: 18px;
		line-height: 20px;
		color: #ffdd99;
	}
}

/* --------- contact --------- */

.contact {
	background: #3c5499;

	.section-desc {
		margin-bottom: 70px;
	}

	&__form {
		max-width: 860px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(60,84,153,.9);
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			transition: all .5s ease 0s;
		}

		&::after {
			content: " ";
			display: block;
			width: 64px;
			height: 64px;
			margin: 8px;
			border-radius: 50%;
			border: 6px solid #94d86f;
			border-color: #94d86f transparent #94d86f transparent;
			animation: lds-dual-ring 1.2s linear infinite;
			position: absolute;
		    top: 50%;
		    left: 50%;
		    z-index: 1;
		    margin-top: -32px;
		    margin-left: -32px;
		    opacity: 0;
		    visibility: hidden;
		}

		@keyframes lds-dual-ring {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		&._sending::before,
		&._sending::after {
			opacity: 1;
			visibility: visible;
		}


	}

	&__input {
		width: 48%;
		height: 54px;
		padding: 20px;
		margin-bottom: 24px;
		background: #273a71;
		border-radius: 4px;
		font-family: 'tm_wbr';
		font-size: 18px;
		color: #fff;
		border: 3px solid transparent;
		transition: all .3s ease 0s;

		&:focus {
			border: 3px solid #192b5d;
		}

		&._error {
			border: 3px solid #f00;
		}

		&_textarea {
			width: 100%;
			height: 200px;
			margin-bottom: 0;
			resize: none;
			margin-bottom: 60px;
		}
	}

	&__button {
		border-bottom: 4px solid #299ec5;
		background: #30bae7;
	}
}

/* --------- footer --------- */

.footer {
	background: #344b8e;

	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@media screen and (max-width: 1080px) {
			justify-content: flex-start;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px 30px;
		font-family: 'tm_wbsb';
		font-size: 24px;
		line-height: 30px;
		color: #fff;
		text-decoration: none;
		transition: color .5s ease 0s;

		&:hover {
			color: #30bae7;
		}

		@media screen and (max-width: 1080px) {
			width: 25%;
			padding: 30px 0;
		}


		@media screen and (max-width: 576px) {
			width: 100%;
			border-bottom: 2px solid #212f58;
		}
	}
}